<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5" style="background-image: url(../../../assets/img/food-delivery/category/pt-bg.jpg);">
    <div class="container py-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item">
                    <a class="text-nowrap" routerLink="/">
                        <i class="ci-home"></i>inicio
                    </a>
                </li>
                <!-- <li class="breadcrumb-item text-nowrap"><a href="#">All categories</a>
                </li> -->
                <li class="breadcrumb-item text-nowrap active" aria-current="page"> {{ page }} </li>
            </ol>
        </nav>
        <h1 class="text-light text-center text-lg-start pt-3"> {{ page }} </h1>
    </div>
</section>
<!-- Categories-->