.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    background: #fff;
}

.loader {
    top: 50%;
    left: 50%;
    position: absolute;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #2d2d2d;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.6s ease-in infinite;
}

.title-load {
    top: 70%;
    left: 50%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}