<!-- Categories (cuisine) grid-->
<section class="container py-4 my-lg-3 py-sm-5" id="cuisine">
    <h2 class="text-center pt-4 pt-sm-3">Bienvenidos a Las Brasas Parrilla & Sazón</h2>
    <p class="text-muted text-center mb-5">Desde nuestro portal propio puedes elegir una de las siguientes opciones:</p>
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 shadow" routerLink="/domicilio"><img class="card-img-top" src="../../../assets/img/food-delivery/category/01.jpg" alt="Burgers &amp; Fries">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Pide un domicilio</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 shadow" routerLink="/reservacion"><img class="card-img-top" src="../../../assets/img/food-delivery/category/02.jpg" alt="Noodles">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Haz una reservación</h3>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 mb-grid-gutter">
            <a class="card border-0 shadow" routerLink="/menu"><img class="card-img-top" src="../../../assets/img/food-delivery/category/03.jpg" alt="Sushi &amp; Rolls">
                <div class="card-body py-4 text-center">
                    <h3 class="h5 mt-1">Ver menu</h3>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Mobile app CTA-->
<section class="bg-primary bg-size-cover bg-position-center pt-5" style="background-image: url(../../../assets/img/food-delivery/mobile-app-bg.webp);">
    <div class="container pt-2 pt-sm-0">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-5 col-sm-6 offset-xl-2 offset-lg-1 mt-md-n5 text-center text-sm-start">
                <h2 class="text-light mb-3">Pide tu domicilio</h2>
                <p class="text-light opacity-70 mb-0 d-block d-sm-none d-md-block">Y paga con nequi, bancolombia, PSE, Tarjeta de credito con wompi</p>
                <div class="mt-4 pt-2">
                    <a class="btn btn-dark me-3 mb-2" href="#" role="button">
                        <span class="btn-market-subtitle">Ir a Domicilios <i class="ci-delivery"></i> </span>

                    </a>

                </div>
            </div>
            <div class="col-lg-5 col-sm-6 offset-lg-1 pt-5 pt-sm-3">
                <img class="d-block mx-auto mx-sm-0" src="../../../assets/img/food-delivery/phone.webp" width="331" alt="Mobile App Screen">
            </div>
        </div>
    </div>
</section>