<app-breadcrums></app-breadcrums>

<section class="container pt-4 pb-3 py-sm-4">

    <div class="rounded-3 shadow-lg mt-4 mb-5">
        <ul class="nav nav-tabs nav-justified mb-4">
            <li class="nav-item">
                <a class="nav-link fs-lg fw-medium py-4 active" href="#pedidoTab" data-bs-toggle="tab" role="tab">1. Tu pedido</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fs-lg fw-medium py-4" href="#pagoTab" data-bs-toggle="tab" role="tab">2. Pagar</a>
            </li>
        </ul>

        <div class="tab-content">

            <!-- ===================================================================== 
                TU PEDIDO
            ======================================================================= -->
            <div class="tab-pane fade show active" id="pedidoTab" role="tabpanel">

                <div class="px-3 px-sm-4 px-xl-5 pt-1 pb-4 pb-sm-5">
                    <div class="row">

                        <!-- Items in cart-->
                        <div class="col-lg-8 col-md-7 pt-sm-2">

                            <div class="d-flex flex-column justify-content-center" *ngIf="carrito.products.length === 0">

                                <h3 class="text-muted mb-2 text-center">No tienes ningun producto agregado en el carrito de compras</h3>
                                <a routerLink="/menu" class="text-center mx-auto"> <i class="ci-reply"></i> Volver al menu</a>
                            </div>

                            <!-- Items-->
                            <div *ngFor="let producto of carrito.products; let i = index" class="d-sm-flex justify-content-between align-items-center mt-3 mb-4 pb-3 border-bottom">

                                <div class="d-block d-sm-flex align-items-center text-center text-sm-start">
                                    <a class="d-inline-block flex-shrink-0 mx-auto me-sm-4">
                                        <img [src]="producto.product.img! | imagen:'products'" width="120" alt="Pizza">
                                    </a>
                                    <div class="pt-2">
                                        <h3 class="product-title fs-base mb-2">
                                            <a class="pointer"> {{ producto.product.name }} </a>
                                        </h3>
                                        <div class="fs-sm text-break"><span class="text-muted me-2">Descripción:</span> {{ producto.product.description }} </div>
                                        <div class="fs-md pt-2">Precio: {{ producto.product.price | currency }} </div>
                                        <div class="fs-lg text-accent pt-2">Monto: {{ producto.monto | currency }} </div>
                                    </div>
                                </div>
                                <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
                                    <label class="form-label" for="quantity{{i}}">Cantidad</label>
                                    <input class="form-control" type="number" id="quantity{{i}}" [value]="producto.qty" (change)="addProductCart(producto.product,  qtyNew.value, producto.qty)" min="1" #qtyNew>
                                    <button (click)="deleteProductCart(i)" class="btn btn-link px-0 text-danger" type="button"><i class="ci-close-circle me-2"></i><span class="fs-sm">Eliminar</span></button>
                                </div>
                            </div>
                            <!-- Items-->

                        </div>

                        <!-- Sidebar-->
                        <div class="col-lg-4 col-md-5 pt-3 pt-sm-4">
                            <div class="rounded-3 bg-secondary px-3 px-sm-4 py-4">
                                <div class="text-center mb-4 pb-3 border-bottom">
                                    <h3 class="h5 mb-3 pb-1">Total</h3>
                                    <h4 class="fw-normal"> {{ carrito.total | currency }} </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- ===================================================================== 
                TU PEDIDO
            ======================================================================= -->


            <!-- ===================================================================== 
                PAGO
            ======================================================================= -->
            <div class="tab-pane fade" id="pagoTab" role="tabpanel">

                <form class="needs-validation px-3 px-sm-4 px-xl-5 pt-sm-1 pb-4 pb-sm-5" novalidate [formGroup]="createForm" (ngSubmit)="crearDomicilio()">

                    <div class="col-12 mb-4">
                        <label class="form-label" for="fd-time">Elegir ubicación<sup class="text-danger ms-1">*</sup></label>
                        <select class="form-select" id="fd-time" (change)="selectUbicacion(sUbicacion.value)" #sUbicacion>

                            <option *ngIf="ubicaciones.length === 0"  value="none">
                                <a routerLink="/domicilio">Debes de registrar tu ubicación</a>
                            </option>

                          <option *ngFor="let ubicacion of ubicaciones; let i = index" [value]="i"> 
                            {{ ubicacion.name }} - {{ ubicacion.nombres }}
                            <br>
                            <small class="text-muted"> | {{ ubicacion.referencia }} </small>
                          </option>

                        </select>

                        <a routerLink="/domicilio" class=""> Registrar nueva ubicación </a>

                    </div>

                    <div class="row pb-4 pt-3" *ngIf="ubicacion">
                        <div class="col-sm-6 mb-4">
                            <label class="form-label" for="fd-name">Nombre de la ubicación<sup class="text-danger ms-1">*</sup></label>
                            <input formControlName="name" readonly [value]="ubicacion.name" class="form-control" type="text" id="fd-name">
                            <p *ngIf="validate('name')" class="text-danger mb-0"> <small> Campo obligatorio, debes de agregar primero tu ubicación para continuar </small> </p>
                        </div>
                        <div class="col-sm-6 mb-4">
                            <label class="form-label" for="fd-recibe">Quien recibe<sup class="text-danger ms-1">*</sup></label>
                            <input formControlName="nombres" readonly [value]="ubicacion.nombres" class="form-control" type="text" id="fd-recibe">
                            <p *ngIf="validate('nombres')" class="text-danger mb-0"> <small> Campo obligatorio, debes de agregar primero tu ubicación para continuar </small> </p>
                        </div>
                    </div>

                    <h2 class="h5 pb-3" *ngIf="ubicacion">Información del domicilio</h2>

                    <div class="row mb-4" *ngIf="ubicacion">

                        <div class="col-sm-6 mb-4">
                            <label class="form-label" for="fd-phone">Telefono<sup class="text-danger ms-1">*</sup></label>
                            <input formControlName="telefono" readonly [value]="ubicacion.telefono" class="form-control" type="text" id="fd-phone">
                            <p *ngIf="validate('telefono')" class="text-danger mb-0"> <small> Campo obligatorio, debes de agregar primero tu ubicación para continuar </small> </p>
                        </div>

                        <div class="col-sm-6 mb-4">
                            <label class="form-label" for="fd-address">Punto de referencia<sup class="text-danger ms-1">*</sup></label>
                            <input formControlName="referencia" readonly [value]="ubicacion.referencia" class="form-control" type="text" id="fd-address">
                            <p *ngIf="validate('referencia')" class="text-danger mb-0"> <small> Campo obligatorio, debes de agregar primero tu ubicación para continuar </small> </p>
                        </div>

                    </div>

                    <div class="col-12 mb-4" *ngIf="ubicacion">

                        <google-map height="300px" width="100%" [center]="center" [zoom]="zoom">

                            <map-marker [position]="markerPositions" [options]="markerOptions"></map-marker>

                        </google-map>

                    </div>


                    <div class="col-12 mb-4">
                        <label class="form-label mb-3" for="fd-comments"><span class="badge bg-info fs-xs me-2">Nota:</span>Agrega un comentario a tu orden</label>
                        <textarea formControlName="nota" class="form-control" rows="5" id="fd-comments" placeholder="Ejemplo: Sin cebolla, poca salsa"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <h2 class="h5 mt-3 pt-4 pb-2">Paga en linea con Wompi</h2>
                            <div class="form-check form-check-inline pb-4">
                                <i class="ci-check text-success"></i>
                                <label class="form-check-label" for="online"> Paga con:&nbsp;&nbsp;&nbsp;<img class="d-inline-block align-middle" src="../../../assets/img/cards.png" style="width: 187px;" alt="Cerdit Cards"></label>
                                <p class="mb-0 text-muted"><i class="ci-check text-success"></i> Nequi</p>
                                <p class="mb-0 text-muted"><i class="ci-check text-success"></i> Bancolombia</p>
                                <p class="mb-0 text-muted"><i class="ci-check text-success"></i> PSE</p>
                            </div>

                            <button class="btn btn-primary d-block w-100 mt-3" type="submit">Pagar</button>

                        </div>
                        <div class="col-sm-6">
                            <div class="d-fle flex-column h-100 rounded-3 bg-secondary px-3 px-sm-4 py-4">
                                <h2 class="h5 pb-3">Total</h2>
                                <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3"><span>Subtotal:</span><span class="text-heading"> {{ carrito.total | currency }} </span></div>
                                <div class="d-flex justify-content-between fs-md mb-2"><span>Total:</span><span class="text-heading fw-medium">{{ carrito.total | currency }} </span></div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <!-- ===================================================================== 
                PAGO
            ======================================================================= -->
        </div>

    </div>

</section>