<div class="container py-5 mb-lg-3">
    <div class="row justify-content-center pt-lg-4 text-center">
        <div class="col-lg-5 col-md-7 col-sm-9"><img class="d-block mx-auto mb-5" src="../../assets/img/pages/404.webp" width="340" alt="404 Error">
            <h1 class="h3">Error 404</h1>
            <h3 class="h5 fw-normal mb-4">La pagina que estas intentando de buscar no se encuentra.</h3>
            <p class="fs-md mb-4">
                <u>Navegación de sugerencia:</u>
            </p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <a class="card h-100 border-0 shadow-sm" routerLink="/">
                        <div class="card-body">
                            <div class="d-flex align-items-center"><i class="ci-home text-primary h4 mb-0"></i>
                                <div class="ps-3">
                                    <h5 class="fs-sm mb-0">Inicio</h5><span class="text-muted fs-ms">Regresa al inicio</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 mb-3">
                    <a class="card h-100 border-0 shadow-sm" routerLink="/menu">
                        <div class="card-body">
                            <div class="d-flex align-items-center"><i class="ci-search text-success h4 mb-0"></i>
                                <div class="ps-3">
                                    <h5 class="fs-sm mb-0">Menu</h5><span class="text-muted fs-ms">Busca algo en nuestro menu </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 mb-3">
                    <a class="card h-100 border-0 shadow-sm" routerLink="/domicilio">
                        <div class="card-body">
                            <div class="d-flex align-items-center"><i class="ci-delivery text-info h4 mb-0"></i>
                                <div class="ps-3">
                                    <h5 class="fs-sm mb-0">Domicilio</h5><span class="text-muted fs-ms">Pedir domicilio</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>